.speech {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.842);
}
.stage-direction {
    font-size: 15px;
    background-color: #f0f8ffdc;
}
.stage-direction:hover{
    color: rgba(0, 0, 2, 0.863);
    background-color: #296661;
}
.name {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.753);
}

.MISS.PRISM {
    color: #f50b97;
}

.CECILY {
    color: #0e8ae9e3;
}
.CECILY:hover 
{
    color: #e9910ee3;
}
.MISS.PRISM
 {
    color: #bd0ee9e3;
}